*
!.gitignore
!package.json
!pnpm-lock.yaml
!bin/
!bin/**
!lib/
!lib/**
!test/
!test/**
!README.adoc
!CHANGELOG.adoc
!LICENSE
!.github/
!.github/**
!changelog-details/
!changelog-details/**
node_modules/
